
<div data-page-type="state">
	<div class="state_top_bg">
		<div class="state_top_banner">
			<div class="state_date">
				2 марта
			</div>
			<h1>
				Качественно — не значит дорого: примеры удачной оптимизации бюджета
			</h1>
			<p>
				Любой бюджет, выделенный на свадьбу, паре хочется расходовать максимально эффективно. Но можно ли сэкономить так, чтобы это не сказалось на качестве мероприятия? Сегодня специалисты из агентства For People Wedding поделятся с читателями NEVESTA.MOSCOW секретами оптимизации бюджета из своего опыта.
			</p>
		</div>
	</div>
	<div class="state_topic">		
		<h2>
	 		Площадка, приносящая удачу
	 	</h2>
		<p>
			<b>Аренда площадки и ее декор</b> — это два обязательных пункта в смете любой свадьбы. Но мало кто задумывается, насколько они взаимосвязаны. Хорошо, если подготовкой свадьбы занимаются <a href="">профессионалы</a>, которые подскажут паре, что стоимость декора напрямую зависит от преимуществ выбранной площадки, и посоветуют конкретные локации, идеально подходящие под стилистику вашей свадьбы.
		</p>
		<div class="topic_img">
			<img src="" alt="">
		</div>
	</div>
	<div class="quote">
		<h3>
			Лайфхак от For People Wedding
		</h3>
		<p>
			Удачно подобранная площадка позволяет оптимизировать количество декора. Например, если хочется сделать белую свадьбу в стиле «Кристалл», не надо выбирать красный зал «Метрополя», ведь его придется полностью переделывать: застраивать белыми панелями, зеркальными потолками и прочим декором. Лучше найти ресторан с белой гаммой оформления, там декор потребует других вложений. Если пара хочет аристократическую свадьбу, не выбирайте шатер — там потребуются миллионы на декор и кейтеринг. И наоборот: если нравится формат молодежной тусовки с коктейлями, лучше арендовать не банкетный комплекс, а фотостудию, заказать туда легкие закуски и пригласить бармена.
		</p>
	</div>
	<div class="state_gallery">
		<div class="gallery_body">
			<img src="" alt=""> <img src="" alt="">
		</div>
	</div>
	<div class="ol_block">
		<h3>
			Меню — два варианта для классиков и гурманов
		</h3>
		<ol>
			<li>
				Ресторан предлагает возможность организации кулинарный анимационных станций, которые сейчас являются одним из самых трендовых и популярных развлечений.
			</li>
			<li>
				Такие станции могут послужить отличным вариантом для фуршета или даже заменить горячую закуску во время банкета.
			</li>
			<li>
				Экскурс в познавательный мир гастрономии вместе с возможностью попробовать вкусное блюдо станет отличным решением для программы вечера.
			</li>
		</ol>
	</div>
	<div class="ul_block">
		<h3>
			Меню — два варианта для классиков и гурманов
		</h3>
		<ul>
			<li>
				Ресторан предлагает возможность организации кулинарный анимационных станций, которые сейчас являются одним из самых трендовых и популярных развлечений.
			</li>
			<li>
				Такие станции могут послужить отличным вариантом для фуршета или даже заменить горячую закуску во время банкета.
			</li>
			<li>
				Экскурс в познавательный мир гастрономии вместе с возможностью попробовать вкусное блюдо станет отличным решением для программы вечера.
			</li>
		</ul>
	</div>
	<div class="state_tab">
		<div class="tab_body">

		</div>
	</div>
	<div class="bottom_block">
		<p>
			<b>Аренда площадки и ее декор</b> — это два обязательных пункта в смете любой свадьбы. Но мало кто задумывается, насколько они взаимосвязаны. Хорошо, если подготовкой свадьбы занимаются профессионалы, которые подскажут паре, что стоимость декора напрямую зависит от преимуществ выбранной площадки, и посоветуют конкретные локации, идеально подходящие под стилистику вашей свадьбы.
		</p>
	</div>
	<div class="other_states">
		<h2>
			Посмотрите другие статьи
		</h2>
		<div>
			{{ this.render('//components/generic/State_block.twig') | raw}}
		</div>
	</div>
</div>