@mixin for-pad {
	@media (max-width: 1299px) and (min-width: 768px) { @content; }
}

@mixin for-mobile {
 	@media (max-width: 767px) { @content; }
}

@mixin for-notdesc {
 	@media (max-width: 1299px) { @content; }
}

@mixin for-lowdesc {
 	@media (max-width: 1650px) and (min-width: 1300px){ @content; }
}

@mixin text-underline($color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}