@import '_mixins';
@import '_colors';
@import 'components/*';
@import '../../node_modules/@fullcalendar/core/main.css';
@import '../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../node_modules/lightbox2/dist/css/lightbox';

@font-face {
        font-family:"museosanscyrl";
        src: url(/fonts/museosanscyrl-900.ttf) format("truetype");
        font-weight: 900;
       }
@font-face {
        font-family:"museosanscyrl";
        src: url(/fonts/museosanscyrl-700.ttf) format("truetype");
        font-weight: 700;
       }
@font-face {
        font-family:"museosanscyrl";
        src: url(/fonts/museosanscyrl-500.ttf) format("truetype");
        font-weight: 500;
       }       
@font-face {
        font-family:"museosanscyrl";
        src: url(/fonts/museosanscyrl-300.ttf) format("truetype");
        font-weight: 300;
       }
@font-face {
        font-family:"museoItalic";
        src: url(/fonts/MuseoSansCyrl-300Italic.ttf) format("truetype");
        }
@font-face {
        font-family:"museosanscyrl";
        src: url(/fonts/museosanscyrl-100.ttf) format("truetype");
        font-weight: 100;
       }       
body{
    
    font-family:"museosanscyrl" ;
    background: red;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 0;
	margin: 0;
	color: $clrBlack;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: white;

    &._modal_active{
        position: fixed;
        width: calc(100vw - 17px);

        @include for-notdesc{
            width: 100vw;
        }
    }
}

body, html {
    height: 100%;
}

body._overflow{
    overflow: hidden;
}

body._overflow .main_wrap{
    filter: blur(4px);
}

.main_top{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    h1{
        margin: 0;
        text-align: center;
    }
}

.main_wrap{
    min-height:100%;
    background-color: white;
    display:flex;
    flex-direction:column;
    @include for-lowdesc{
        margin: 0;
    }
    @include for-pad{
        margin: 0;
    }
}

.main_wrap._blur header,
.main_wrap._blur footer,
.main_wrap._blur .content_wrap{
    filter: blur(5px);
}

.main_wrap._blur header{
    top: -10px;
    padding-top: 10px;
}

.main_wrap._blur footer{
    bottom: 10px;
    padding-top: 10px;
}

.popular_places{
    width: 1170px;
    margin: 69px auto 0px;
    display: flex;
    flex-direction: column;
    @include for-lowdesc{
        width: 930px;
    }
    @include for-pad{
        width: 690px;
        margin: 59px auto 0px;
    }
    @include for-mobile{
        width: 100%;
        margin: 0;
        padding: 0 15px 0 12px;       
    }    
    .popular_places_title{
        width: 100%;
        h3{
            text-align: center;
            font-weight: 900;
            font-size: 26px;
            line-height: 31px;
            @include for-pad{
                font-size: 22px;
                line-height: 28px;
            }
            @include for-mobile{
                font-size: 20px;
                font-weight: 900;
                line-height: 24px;
            }
        }
    }
    .popular_places_ref_wrapper{
        margin-top: 24px;
        width:100%;
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        @include for-pad{
            width:calc(100% + 20px);
            margin-top: 21px;
            justify-content:start;
        }
        @include for-mobile{
            margin-top: 8px;
        }
    
        .pp{
            display: flex;
            justify-content:center;
            margin-bottom: 30px;
            width: 270px;
            height: 180px;
            padding: 66px 70px;
            @include for-lowdesc{
                width: 210px;
                height: 140px;
                padding: 50px 35px;
            }
            @include for-pad{
                width: calc(100%/3 - 20px);
                margin-right: 20px;
                height: 140px;
                padding: 50px 30px;
            }
            @include for-mobile{
                width: calc(100%/2 - 7.5px);
                height: 105px;
                margin-bottom: 15px;
                padding: 20px 20px;
            }
            .pp_desc{
                text-align: center; 
                margin: auto;
                color: white;
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                @include for-lowdesc{
                }
                @include for-mobile{
                    font-size:16px;
                    line-height: 19px;
                }
            }
        }    
    }
} 


.DO_listing{
    width: 1170px;
    margin: 41px auto 0px;
    @include for-lowdesc{
        width: 930px;
    }
    @include for-pad{
        width: 690px;
        margin: 27px auto 0;
    }
    @include for-mobile{
        width: 100%;
        margin: 26px 0 0;
        padding: 0 17px 0 13px;        
    }
    .DO_listing_title{
        margin: auto;
        @include for-lowdesc{
             margin-left: 6px;
        }
        @include for-pad{
            margin-top:3px;
        }
        h2{
            font-size: 22px;
            line-height: 26px;
            font-weight: 900;
            @include for-mobile{
                font-size: 16px;
                font-weight: 900;
                line-height: 21px;
            }
            @include for-pad{
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    .DO_listing_desc{
        margin: 23px auto 26px;
        @include for-pad{
            margin: 16px auto 26px;
        }
        @include for-mobile{
            margin: 11px auto 23px;
        }
    }
    .DO_listing_list{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;
    }
}
    .btn_container{
        width: 100%;
        justify-content: center;
        display: flex;
        margin-top: -10px;

    }
    .DO_listing_load_btn{
        display: inline;
        cursor: pointer;
        text-align: center ;
        margin-top: -10px;
        font-size: 20px;
        font-weight: 400;
        border-bottom:1px dashed  rgba(35, 35, 35, 0.5);
        @include for-lowdesc{
            margin-top: -8px;
        }
        @include for-pad{
            line-height: 26px;
            font-size: 18px;
        }
        @include for-mobile{
            margin-top: -4px;
            font-size: 16px;
            line-height: 20px;
        }
    }
.after_listing{
    margin: 0px auto 0px;

    width: 1170px; 
    @include for-lowdesc{
        width: 930px;
    }
    @include for-pad{
        width: 690px;
        margin: 47px auto -7px;
    }
    @include for-mobile{
        overflow-y: hidden; 
        height: 206px;
        width: 100%;
        margin: 40px 0 15px;
        padding: 0 15px;        
    }
    .after_listing_text{
        font-size: 16px;
        line-height: 21px;
        @include for-lowdesc{
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
        }
        @include for-pad{
            line-height: 21px;
            font-size: 16px;
        }
        @include for-mobile{
            font-size: 16px;
            line-height: 21px;
            font-weight: 300;
        }
    }
    .after_listing_text2{
        font-size: 16px;
        line-height: 21px;
        margin-top: 22px;
        @include for-lowdesc{
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            margin-top: 21px;
        }
        @include for-pad{
            line-height: 21px;
            font-size: 16px;
            margin-top: 22px;
        }
        @include for-mobile{
            font-size: 16px;
            line-height: 21px;
            font-weight: 300;
        }
    }

}
.full_btn_container{
    width: 100%;
    display: flex;
    justify-content:left;
    padding-left: 15px;
}
.load_full_btn{
    display: none;
    @include for-mobile{
        display: inline;
        color: rgba(231, 0, 76, 1);
        border-bottom:1px dashed #E7004C;
        cursor: pointer;
        margin-bottom: 50px;
    }
}

.state_block{
    margin: -5px auto 0;
    width:1170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .state{
        display: block;
        width: 270px;
        height: 270px;
        .state_back{
            position: absolute;
        }
        .state_contents{
            
            justify-content: space-between;
            display: flex;
            flex-flow: column wrap;
            background-color: white;
            text-align: center;
            padding: 30px 40px;
            margin: 30px;
            width: 210px;
            height: 210px;
            .state_date{
                font-weight: 400;
                font-size:10px;
                text-transform: uppercase;
            }
            .state_text{
                font-size:16px; 
            }
        }
        .state_first{
            background-color: rgba(35, 35, 35, 1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 270px;
            height: 270px;
            padding: 42px 27px;
            .state_first_uppertitle{
                color: rgba(231, 0, 76, 1);
                font-weight: 600;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
            }
            .state_firts_title{
                margin-top:-10px;
                color: rgba(255, 255, 255, 1);
                font-weight: 600;
                font-size: 26px;
                line-height: 31px;
            }
            .state_first_desc{
                color: rgba(255, 255, 255, 1);
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
            }
            hr{
                border:1px dashed rgba(255, 255, 255, 0.5);
            }

        }
    }
}
.content_block.submenu {
    width: 1170px;
    height: 500px;

        
    .submenu_wrapper{
        display: flex;
        flex-flow: row nowrap;
        height: auto;
    
        h2{
            position: absolute;
            top: 20px;
            left: 30px;
            color: white;
            text-align: start;
            font-weight: 600;
            z-index: 1;
        }

        .submenu_bg_filter{
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #624600;
            opacity: 0.6;
        }

        .slices{
            display: none;
            position: absolute;
            top: 50px;
            left: 30px;

            a{
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: #ffffff;
                white-space: nowrap;
                z-index: 10;
                margin-right: 30px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }

            a:hover{
                color: #FFC839;
                border-bottom: 1px solid #FFC839;
            }

        }

        img{
            width: 100%;
            height: 100%;
        }

        .submenu:hover{
            .submenu_bg_filter{
                display: block;
            }

            .slices{
                display: block;
            }
        }

        @include for-notdesc{
            .submenu_bg_filter{
                display: block;
            }

            .slices{
                display: block;
            }
        }
    }

    @include for-pad{
        margin: 0;
    }

    @include for-mobile{
        margin: 0;

        .popular_places_wrapper{
            display: flex;
            flex-flow: column nowrap;

            .popular_places{
                width: 100%;
                margin-top: -4px;
                padding: 0;
            }

            h2{
                font-size: 28px;
                line-height: 32px;
            }
        }
    }
}

.content_block.filter_listing{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.content_block.filter_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/topbanket/Top_background.png)no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 25px;
    position: relative;
    z-index: 2;

    .filter{
        position: relative;


    }
    @include for-lowdesc{
        margin-top: 17px;
    }
    @include for-pad{
        height: 384px;
        margin-top:0;
    }

    @include for-mobile{
        margin: 0 0 39px;
        padding: 0 15px;
        height: 410px;
        background: white;
    }
}

.content_wrap{
    flex-grow: 1;
    margin: 0 auto;
    width: 100%; 
    position: relative;
    margin-top: 99px;
    //padding-bottom: 155px;
    
    @include for-pad{
        margin-top: 89px;
    }

    @include for-mobile{
        margin-top: 55px;
    }
}

.main_wrapper{
    width: 100%;
    position: relative;
}

.content_block{
    width: 1170px;
    margin: auto;
    position: relative;
    z-index: 1;

    @include for-pad{
        width: calc(100% - 20px);
    }

    @include for-mobile{
        width: calc(100% - 30px);
    }
}
.item_top_bg{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin: auto;
    background-image: url(/img/topbanket/item/item_top_bg.png);
    background-size: cover;
    @include for-lowdesc{
        height:361px;
        margin-bottom: 26px;
    }
    @include for-pad{
        height: 278px;
    }
    @include for-mobile{
        width: 100%;
        padding: 0 15px;
        height: 353px;
    }
    .content_block_top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px;
        width: 1170px;
        margin: 0 auto;
        z-index: 1;
        background-color: rgba(255,255,255, 0.9);
        @include for-lowdesc{
            width:930px;
            padding: 0 20px;
        }
        @include for-pad{
            width: 690px;
            padding: 0 19px 0 15px;
        }
        @include for-mobile{
            width: 100%;
            padding: 0 13px;
            flex-direction: column;
            align-items: baseline;
        }
    }
}
.content_block.map{
    width: 100%;
    height: 500px;
    margin: 0;

    @include for-pad{
        & > * {
            width: 100%;
        }
    }

    @include for-mobile{

    }
}

.map_title{
    padding: 60px 0 20px;

    @include for-mobile{
        padding: 0;
    }
}

.content_block.map.listing{
    width: 100%;
    height: 600px;
    margin: 104px 0 70px;
    @include for-lowdesc{
        height: 461px;
        margin-bottom: -17px;
    }

    @include for-pad{
        height: 500px;
        margin: 0px 0 -18px;
    }

    @include for-mobile{
        display: none;    }
}

[data-page-type]{
    .content_loading{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.6;
        z-index: 10;
        overflow: hidden;
    }

    &[data-page-type="index"]{
        display: flex;
        flex-flow: column nowrap;
        justify-content:space-between;
        width: 100%;
        margin: auto;

        @include for-mobile{
            padding: 0;
        }
    }

    &._loading{
        .content_loading{
            display: block;
        }
    }

    &[data-page-type="listing"]{
        padding: 44px 0 0 0;

        .content_block{
            z-index: auto;
        }

        [data-listing-title]{
        justify-content:left;
        }
        .content_block.pagination{
            padding: 30px 0 0 0;

        }

        .content_loading{
            height: calc(100% + 20px);
        }
        
        @include for-mobile{
            padding: 0;
        }
    }

    .filter_listing_bg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 503px;
        background: url("/img/topbanket/listing/Listing_top_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        margin-bottom: 100px;
        @include for-lowdesc{
            height: 510px;
            margin-bottom: 70px;
        }
        @include for-pad{
            height: 384px;
            margin-bottom: 58px;
        }
        @include for-mobile{
            background: white;
            height: 500px;
            margin-bottom: -14px;
        }
    }
    .btn_container{
        margin: 7px auto 68px;
        @include for-lowdesc{
            margin-top: 6px;
            margin-bottom: 68px;
        }
        @include for-pad{
            margin-bottom: 44px;
        }
        @include for-mobile{
            margin: -6px auto 0px;
        }
    }
    .DO_listing_load_btn{
        line-height: 27px;
        @include for-mobile{
            line-height: 20px;
        }
    }
    .listing_info{
        width: 1170px;
        margin: 0 auto 0;
        @include for-lowdesc{
            width: 930px;
        }
        @include for-pad{
            width: 690px;
        }
        @include for-mobile{
            width: 100%;
            padding: 0 15px;
        }
        .content_block{
            margin: 0;
        }
        .listing_info_title{
            text-align: center;
            font-size: 26px;
            line-height: 31px;
            font-weight: 900;
            margin-bottom: 23px;
            @include for-lowdesc{
                margin-right: -5px;
            }
            @include for-pad{
                font-size: 22px;
            }
            @include for-mobile{
                font-size: 22px;
            }
        }
        .listing_info_desc{
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            margin-bottom: 63px;
        }
        .listing_info_desc2{
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            margin-bottom: 63px;
            @include for-mobile{
                height: 206px;
                overflow: hidden;
                margin-bottom: 0px;
            }
        }
        .listing_info_ref_container{
            margin-bottom: 39px;
            display: flex;
            flex-flow:row wrap;
            @include for-pad{
                margin-bottom: 16px;
            }
            @include for-mobile{
                margin-bottom: 5px;
            }
            ._link{
                font-size: 16px;
                line-height: 19px;
                margin-right: 12px;
                @include for-pad{
                    line-height: 21px;
                }
            }
            span{
                font-size: 16px;
                line-height: 23px;
                margin-right: 10px;   
            }

        }
        .full_btn_container{
            padding: 0;
            @include for-mobile{
                margin: 57px auto 37px;
            }
            .load_full_btn{

            }
        }
    }

    &[data-page-type="item"]{
        padding: 47px 0 0 0;
        @include for-lowdesc{
            padding: 42px 0 0 0;
        }
        @include for-pad{
            padding: 45px 0 0 0;
        }

        @include for-mobile{
            padding: 0;
        }
    }

    @include for-pad{
        //&[data-page-type="index"]{
        //    display: none;
        //}

        &[data-page-type="listing"]:before{
            display: none;
        }

        &[data-page-type="listing"]:after{
            display: none;
        }
    }

    @include for-mobile{
        &[data-page-type="index"]{
            background: white;
        }

        &[data-page-type="listing"]:before{
            display: none;
        }
    }
}

*{
    margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;line-height:normal;
}

.slices {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 20px 0 30px 0;
    
    .slice._link:hover{
        color: #D83603;
        border-bottom: 1px solid #D83603;
    }

    .slice._link._active{
        color: #D83603;
        border-bottom: 1px solid #D83603;
    }

    .slice._link{
        font-family: "Montserrat";
        font-style: normal;
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #333333;
        white-space: nowrap;
        border-bottom: 1px solid rgba(0, 0, 0, 0);;
        margin-right: 10px;

        //&:last-child{
        //    border-bottom: none;
//
        //    @include for-mobile{
        //        margin-right: 50%;
        //    }
        //}
    }
}

.form_callback_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1170px;
    margin: 67px auto 75px ;
    background: url("/img/topbanket/callbackform2back.png");
    background-repeat: no-repeat;
    background-position: left;
    @include for-lowdesc{
        width: 930px;
        background: url("/img/topbanket/callbackform2backlow.png");
        background-repeat: no-repeat;
        background-position: left;
    }
    @include for-pad{
        width: 690px;
        background: white;
        margin-top: 60px;
    }

    @include for-mobile{
        width: 100%;
        margin: 0 0 50px;
        padding: 0 15px;
        background: white;
    }
}

.content_block.seo_text_wrapper.last{
    width: 100%;
    padding: 0 0 60px 0;
    background:
     url("/img/filter_pad_bg/card_page_Bottom_left_decorations.png"),
     url("/img/filter_pad_bg/card_page_Bottom_right_decorations.png");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    @include for-notdesc{
        background: none;
    }
}

.seo_text{
    width: 1200px;
    margin: auto;

    A:link{
        color: #d83603;
        border-bottom: 1px solid #d83603;
    }

    A:hover{
        color: #F0440D;
        border-bottom: 1px solid #F0440D;
    }

    A:visited{
        color: #6E69A7;
        border-bottom: 1px solid #6E69A7;
    }
    
    A:visited:hover{
        color: #544E9B;
        border-bottom: 1px solid #544E9B;
    }

    @include for-notdesc{
        width: 100%;
        padding: 0 10px 60px 10px;
    }

    @include for-mobile{
        padding: 0 15px 30px 15px;
    }


}

input,
button,
textarea {
      appearance: none;
      background-color: unset;
      outline: none;
      border: none;
      border-radius: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
}

:focus {
    outline: none;
}

i.icon {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

._button{
    padding: 0px 28px;
    cursor: pointer;
    background: #D83603;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

._button:hover{
    background: #F0440D;
}

._button:active{
    background: #BA1904;
}

._button._inactive{
    background: $clrExtraLightGrey;
    color: $clrTextInactive;
    cursor: initial;
}

._button.disabled{
    cursor: not-allowed;
}

._pagination {
    display: none;
}

h1{
    font-weight: bold;
    line-height: 112.86%;
    font-size: 38px;
    letter-spacing: 0.01em;

    @include for-mobile{
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
    }
}

h2{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    font-weight: bold;

    @include for-mobile{
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
    }
}

h3{
    font-size: 28px;
    font-weight: bold;
}

._link{
    color: #E7004C;
    border-bottom: 1px dashed #E7004C;

    &:hover{
        color: #FF0054;
        border-bottom: 0px dashed #FF0054;
    }
}


._pseudolink{
    display: inline-block;
    color: #E7004C;
    border-bottom: 1px dashed #E7004C;
    cursor: pointer;
    font-weight: 500;

    &:hover{
        color: #FF0054;
        border-bottom: 1px dashed #FF0054;
    }
}
.title_count{
    font-size: 14px;
    line-height: 17px;
    color: rgba(35, 35, 35, 0.5);
    text-align: left;

    @include for-notdesc{
        text-align:center;
        margin-left: 0px;
    }
    @include for-mobile{
            width: 100%;
            text-align: left;
    }
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    @include for-notdesc{
    }

    @include for-pad{
        width: 60%;
    }

    @include for-mobile{
        width: 100%;
    }
    .item_title_desc{
        background-color: #E7004C;
        margin-bottom: 13px;
        color: white;
        text-transform: uppercase;
        padding: 3px 15px;
        @include for-lowdesc{
            margin-bottom: 19px;
            padding: 3px 24px;
        }
        @include for-pad{
            margin-bottom: 12px;
            padding: 0px 12px;
        }
        @include for-mobile{
            margin-bottom: 14px;
            padding: 0px 15px;
        }
        .desc_item{
            font-size: 10px;
        }
    }

    h1{
        text-align: left;
        font-size: 35px;
        font-weight: 900;
        width: 100%;
        @include for-lowdesc{
            font-size: 25px;
            margin-bottom: 3px;
        }
        @include for-pad{
            font-size: 25px;
        }
        @include for-mobile{
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 8px;
        }
    }


    .title_desc{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 5px;

        p{
            text-align: center;
            font-size: 26px;
            line-height: 32px; 
        }        
    }

    .title_address{
        display: flex;
        align-items: baseline;
        width: 100%;
        margin-bottom: 20px;
        @include for-lowdesc{
            margin-bottom: 17px;
        }
        @include for-pad{
            margin-bottom: 6px;
        }
        @include for-mobile{
            flex-direction: column;
            margin-bottom: 14px;
        }
        a{
            margin-left: 11px;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;           
            color: rgba(231, 0, 76, 1);
            border-bottom: 1px dashed #E7004C;
            position: relative;
            cursor: pointer;
            @include for-lowdesc{
                margin-left: 3px;
                font-size: 14px;
            }
            @include for-pad{
                margin-left: 11px;
                font-size: 12px;
            }
            @include for-mobile{
                margin-left: 0;
                text-align: left;
                font-size: 12px;
                line-height: 16px;
                margin-bottom: -2px;
                width: 46%;
            }
            &:hover{
                border:transparent;
            }               
        }
        span{
            width: 265px;
            @include for-lowdesc{
                width: 265px;
            }
            @include for-pad{
                width: 225px;
                font-size: 14px;
            }
            @include for-mobile{
                font-size: 14px;
                line-height: 15px;
            }
        }
        @include for-mobile{
            p{
                width: 250px;
                text-align: left;
                border: none;
            }
        }
            
    }
    .item_gift-for-early-reservation{

        color: white;  
        border-radius: 5px;
        background: url(/img/topbanket/Gift1.svg),#26c5bd;
        background-repeat: no-repeat;
        background-position: 9px center;
        padding: 7px 14px 5px 43px;
        font-size: 14px;
        margin-bottom: 19px;
        @include for-lowdesc{
            padding: 7px 11px 5px 42px;
            background-position: 8px center;
        }
        @include for-pad{
            padding: 3px 9px 3px 32px;
            font-size: 12px;
        }
        @include for-mobile{
            margin-bottom: 28px;
            padding: 5px 9px 8px 29px;
            font-size: 12px;
            background-position: 1px center;
        }
    }    
}

.bread_container{
    display: flex;
    flex-direction:row;
    width: 1170px;
    margin: 0 auto 18px;
    @include for-lowdesc{
        width: 958px;
    }
    @include for-pad{
        width: 690px;
        margin-bottom: 9px;
    }
    @include for-mobile{
        width: 100%;
        margin:0 auto 11px;
        padding: 0;
    }

    .breadcrumbs{
        // position: absolute;
        // bottom: calc(100% - 10px);
        display: flex;
        padding: 3px 8px;
        font-weight: 500;
        background-color: rgba(35, 35, 35, 0.5);
        @include for-mobile{
            padding: 0;
        }
        .breadcrumbs_item{
            position: relative;
            line-height: 18px;
            font-size: 14px;
            color: white;
            border-bottom: 1px solid rgba(51, 51, 51, 0.3);
            margin: 0px 12px;
            cursor: pointer;
            @include for-pad{
                font-size: 12px;
                margin: 0 5px;
            }
            @include for-mobile{
                font-size: 12px;

            }
            &:after{
                color: white;
                content: '→';
                position: absolute;
                left: calc(100% + 6px);
                pointer-events: none;
            }
        }

        .breadcrumbs_slices_container{
            position: relative;
        }

        .breadcrumbs_current_slice{

            .breadcrumbs_item:after{
                display: none;
            }

            .arrow{
                cursor: pointer;
                position: absolute;
                top: 2px;
                right: -10px;
                width: 20px;
                height: 20px;

                &:before{
                    position: absolute;
                    content: '';
                    top: 3px;
                    right: 6px;
                    width: 8px;
                    height: 8px;
                    border-right: 2px solid $clrLightGrey;
                    border-bottom: 2px solid $clrLightGrey;
                    border-radius: 2px;
                    transform: rotate(45deg);
                }

                &._opened:before{
                    top: 8px;
                    transform: rotate(-135deg);
                }
            } 
        }

        .breadcrumbs_slices_list{
            position: absolute;
            top: 25px;
            left: 10px;
            display: flex;
            flex-flow: column nowrap;
            width: calc(100% - 20px);
            padding: 5px 0 5px 0;
            background: #ffffff;
            border: 1px solid #c4c4c4;
            border-radius: 2px;
            z-index: 10;

            .breadcrumbs_item_wrapper{
                width: 100%;
                padding: 5px 0 5px 0;

                &:hover{
                    background: #d83603;

                    span{
                        color: #ffffff;
                        border-bottom: 1px solid rgba(255,255,255,.6);
                    }
                }
            }

            .breadcrumbs_item{
                margin: 0 auto 0 12px;
            }

            .breadcrumbs_item:after{
                display: none;
            }

            @include for-pad{
                top: 22px;
            }
        }
    }
}
.form_policy.checkbox_item{

    .checkbox_pseudo{
        font-size: 12px;
        line-height: 15px;
        @include for-mobile{
            font-size: 11px;
        }

        &:before{
            top: 0;
        }

        &:after{
            top: 4px;
        }
    }
}

.checkbox_item{
    .checkbox_pseudo{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        padding-left: 21px;
        position: relative;
        cursor: pointer;

        &:before{
            content:'';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0px;
            top: 4px;
            border: 1px solid #333333;
            border-radius: 2px;
        }

        &:after{
            content:'';
            position: absolute;
            background-image: url("/img/checkbox_pin.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 10px;
            height: 9px;
            top: 8px;
            left: 3px;
            display: none;                          
        }
    }

    &._active{

        .checkbox_pseudo:after{
            display: block;
        }
    }

    input{
        display: none;
    }

    
}

._hide{
    display: none !important;
}