<div class="form_wrapper booking">

  <div class="form_title">
		<p class="form_title_main">Хотите новый год в этом заведении?</p>
	</div>

  <form class="form_block" action="/ajax/form/"  data-type="item">

    <div class="form_inputs">
    
      <div class="input_wrapper _big">
        <div class="input_label">Бюджет</div>
        <input type="text" name="budget" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Номер телефона</div>
        <input type="text" name="phone" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Эл. почта</div>
        <input type="text" name="email" data-required/>
      </div>
      <div class="input_wrapper _big">
        <div class="input_label">Дата</div>
        <input type="text" name="date" data-required/>
        <div class="calendar_wrapper">
          <div class="open_calendar_button"></div>
          <div class="calendar_container _hide">
            <div class="calendar"></div>
          </div>
        </div>
      </div>

    </div>


    {% if items|length > 0 %}

    <div class="form_checkboxes">

      {% for item in items %}

      <div class="checkbox_item" data-action="form_checkbox">
				<input type="checkbox" name="restaurant"/>
				<div class="checkbox_pseudo">{{item.name}}</div>
			</div>

      {% endfor %}

    </div>

    {% endif %}

    <div class="form_submit_booking">
			<button class="_button" type="submit">Отправить</button>
      <div class="form_policy checkbox_item _active" data-action="form_checkbox" data-form-privacy>
        <input type="checkbox" name="policy" class="personalData" checked=""  data-required>
        <p class="checkbox_pseudo">Я согласен с <a class="_link" href="/privacy/" target="_blank">политикой обработки персональных данных</a></p>
      </div>
		</div>

  </form>

  <div class="form_success">
      <div class="header_form_popup_message_sent _hide" data-success>

              <h2>Заявка отправлена</h2>
              <p class="header_form_popup_message">Спасибо за проявленный интерес. Наши менеджеры свяжутся с вами<br>в течение дня и помогут подобрать зал для корпоратива.</p>
              <p class="header_form_popup_message_close _link" data-success-close>Понятно, закрыть</p>
              <div class="close_button"></div>

          </div>
    </div>
  
</div>