<div class="item_page_wrapper" data-page-type="item">

  <div class="content_block" data-listing-title>
    
    <div class="title">

	    <h2>Ресторан «Особое место»</h2>

	    <div class="title_address"><p>Москва, г. Солнечногорск, Тимоновское шоссе, 3</p></div>

    </div>

  </div>

  <div class="content_block" data-page-type="item">

    <div class="object_head">

      <div class="object_gallery" data-gallery data-id="{{item.restaurant_id}}">

        <div class="swiper-container gallery-top">

          <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(/img/blogTestImg.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/img/blogTestImg.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/img/blogTestImg.jpg)"></div>

          </div>

        </div>

        <div class="swiper-container gallery-thumbs">

          <div class="swiper-wrapper">

            <div class="swiper-slide" style="background-image:url(/img/blogTestImg.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/img/blogTestImg.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/img/blogTestImg.jpg)"></div>

          </div>

        </div>

      </div>

      <div class="object_main_info">

        <p>Стоимость: от <span>7000 ₽</span></p>
        <p>Вместимость: до <span>120 персон</span></p>

      </div>

      <div class="object_book">

        <p class="object_book_text">Узнать об актуальных акциях и забронировать можно по телефону:</p>

        <div class="object_book_hidden">

          <p class="object_book_phone">

              <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">❆❆❆ ❆❆❆ ❆❆ ❆❆</span></span>
              <a href="tel:{{item.restaurant_phone}}" class="object_real_phone">+7 777 777-77-77</a>

          </p>

          <div class="object_book_hidden_button _link" data-action="show_phone">Показать номер</div>

          <div class="object_book_interactive_part _hide">

            <div class="object_book_send_mail _hide _link" data-action="show_form">Отправить инфо о зале себе <span class="show_form_message_mobile"><br></span> на эл. почту</div>

            <form class="send_restaurant_info _hide">
              <input type="email" placeholder="Эл. почта">
              <button class="_button" data-action="show_mail_sent">Отправить</button>
            </form>

            <div class="object_book_mail_sent _hide">
                <span class="object_book_message">Мы отправили информацию на почту</span><br>
                <span class="_link" data-action="show_form_again">Отправить еще раз</span>
            </div>

          </div>

        </div>

        <p class="object_book_action">Забронируй зал в ресторане «Особое место» до 01.12.2020 и получи новогодний подарок!</p>

      </div>

      <a class="object_more_info" href="">

        <button class="_button">Посмотреть зал →</button>

      </a>

    </div>

  </div>

</div>