{% for i in 0..1 %}

  <div class="similar_posts_item_wrapper">

    <a class="similar_posts_item" href="/post/">

      <img class="similar_posts_item_img" src="/img/blogTestImg.jpg" alt="blog article image">

      <div class="similar_posts_item_text_wrapper">

        <div class="similar_posts_item_text">
          Нам поступает так много вопросов о свадьбе стиле рустик, 
          что решили сделать полное руководство для невест. Подробно 
          рассказываем, как организовать идеальное торжество в этом 
          стиле, но призываем вас быть гибкими и не переживать из-за 
          мелочей, которые не вписываются в безупречную картинку.
        </div>

      </div>

    </a>
    
  </div>

{% endfor %}