	<div class="state_block">
		<div class="state" >
			<div class="state_first">
				<div class="state_first_uppertitle">
					Интересное
				</div>
				<a href="" class="state_firts_title">
					Новое из мира банкетов
				</a>
				<hr>
				<div class="state_first_desc">
					Вам предстоит организация банкета в Москве? Сколько часов вашей жизни отнимет анализ качества услуг ресторанов, многочисленные согласования, выбор исполнителей?
				</div>
			</div>
		</div>
		<div class="state">
			<div class="state_back" style="background: url(/img/topbanket/state1.png)">
				<div class="state_contents" >
					<div class="state_date">21 марта</div>
					<div class="state_text">Как продумать банкетное меню </div>
					<div class="White">
					<a href="#">Подробнее</a>
				</div>
				</div>
			</div>	
		</div>
		<div class="state" >
			<div class="state_back" style="background: url(/img/topbanket/state2.png)">
				<div class="state_contents">
					<div class="state_date">2 марта</div>
					<div class="state_text">
						Как не ошибиться при выборе банкетного зала
					</div>
					<div class="White"><a href="#">Подробнее</a></div>
				</div>
			</div>	
		</div>
		<div class="state" >
			<div class="state_back" style="background: url(/img/topbanket/state3.png)">
				<div class="state_contents">
					<div class="state_date">19 февраля</div>
					<div class="state_text">
						50 идей идеального украшения зала
					</div>
					<div class="White"><a href="#">Подробнее</a></div>
				</div>
			</div>
		</div>
	</div>