<div data-page-type="post">

  <div class="state_top_bg">
      <div class="state_top_banner">
        <div class="state_date">
          2 марта
        </div>
        <div class="state_title">
          Качественно — не значит дорого: примеры удачной оптимизации бюджета
        </div>
        <p>
          Любой бюджет, выделенный на свадьбу, паре хочется расходовать максимально эффективно. Но можно ли сэкономить так, чтобы это не сказалось на качестве мероприятия? Сегодня специалисты из агентства For People Wedding поделятся с читателями NEVESTA.MOSCOW секретами оптимизации бюджета из своего опыта.
        </p>
      </div>
  </div>
  <div class="state_topic">   
    <h2>
      Площадка, приносящая удачу
    </h2>
    <p>
            Аренда площадки и ее декор — это два обязательных пункта в смете любой свадьбы. Но мало кто задумывается, насколько они взаимосвязаны. Хорошо, если подготовкой свадьбы занимаются <a href="">профессионалы</a>, которые подскажут паре, что стоимость декора напрямую зависит от преимуществ выбранной площадки, и посоветуют конкретные локации, идеально подходящие под стилистику вашей свадьбы.
    </p>
    <div class="topic_img">
      <img src="/img/state/state_topic.png" alt="">
    </div>
    <p>
      <b>Аренда площадки и ее декор</b> — это два обязательных пункта в смете любой свадьбы. Но мало кто задумывается, насколько они взаимосвязаны. Хорошо, если подготовкой свадьбы занимаются профессионалы, которые подскажут паре, что стоимость декора напрямую зависит от преимуществ выбранной площадки, и посоветуют конкретные локации, идеально подходящие под стилистику вашей свадьбы.
    </p>
  </div>    
  <div class="quote">
    <div class="quote_inner"> 
      <h3>
        Лайфхак от For People Wedding
      </h3>
      <p>
        Удачно подобранная площадка позволяет оптимизировать количество декора. Например, если хочется сделать белую свадьбу в стиле «Кристалл», не надо выбирать красный зал «Метрополя», ведь его придется полностью переделывать: застраивать белыми панелями, зеркальными потолками и прочим декором. Лучше найти ресторан с белой гаммой оформления, там декор потребует других вложений. Если пара хочет аристократическую свадьбу, не выбирайте шатер — там потребуются миллионы на декор и кейтеринг. И наоборот: если нравится формат молодежной тусовки с коктейлями, лучше арендовать не банкетный комплекс, а фотостудию, заказать туда легкие закуски и пригласить бармена.
      </p>
    </div>
  </div>
  <div class="state_gallery">
      <img src="/img/state/state_gallery1.png" alt="">
      <img src="/img/state/state_gallery2.png" alt="">
  </div>
  <div class="ol_block">
    <h3>
      Меню — два варианта для классиков и гурманов
    </h3>
    <ol>
      <li>
        Ресторан предлагает возможность организации кулинарный анимационных станций, которые сейчас являются одним из самых трендовых и популярных развлечений.
      </li>
      <li>
        Такие станции могут послужить отличным вариантом для фуршета или даже заменить горячую закуску во время банкета.
      </li>
      <li>
        Экскурс в познавательный мир гастрономии вместе с возможностью попробовать вкусное блюдо станет отличным решением для программы вечера.
      </li>
    </ol>
  </div>
  <div class="ul_block">
    <h3>
       Меню — два варианта для классиков и гурманов
    </h3>
    <ul>
      <li>
        Ресторан предлагает возможность организации кулинарный анимационных станций, которые сейчас являются одним из самых трендовых и популярных развлечений.
      </li>
      <li>
        Такие станции могут послужить отличным вариантом для фуршета или даже заменить горячую закуску во время банкета.
      </li>
      <li>
        Экскурс в познавательный мир гастрономии вместе с возможностью попробовать вкусное блюдо станет отличным решением для программы вечера.
      </li>
    </ul>
  </div>
  <div class="state_tab">
    <div class="upper_string">
      <p class="first_cell">Наименование</p>
      <p>Количество</p>
       <p>Цена</p>
        <p>Сумма</p>
      </div>
      <hr>
      <div class="string">
        <p class="first_cell">Фруктовая корзина (ананас, клубника, фрукт сезона, груша)</p>
        <p>22</p>
        <p>950 Р</p>
        <p>20900 Р</p>
      </div>
      <div class="string" style="background-color:#EEEEEE">
        <p class="first_cell">Копченное севиче из креветок с соусом кимчи и хрустящей киноа</p>
        <p>22</p>
        <p>200 Р</p>
        <p>4200 Р</p>
      </div>
      <div class="string">
        <p class="first_cell">Рыбное изобилие (семга слабосоленая, палтус, осетрина, каперсы, лимон, таджарские маслины, укропный крем)</p>
        <p>15</p>
        <p>450 Р</p>
        <p>6750 Р</p>
      </div>
      <div class="string" style="background-color:#EEEEEE">
        <p class="first_cell">Рийет из форели с кремом из кервеля, эстрагона, базилика и лука сибулет и маринованными овощами</p>
        <p>15</p>
        <p>550 Р</p>
        <p>8250 Р</p>
      </div>
      <div class="string">
        <p class="first_cell">Мясной ряд (рулет куриный, телячий язык, окорок свиной)</p>
        <p>30</p>
        <p>360 Р</p>
        <p>10800 Р</p>
      </div>
      <div class="string" style="background-color:#EEEEEE">
        <p class="first_cell">Паштет из перепелки, куриное пате, рийет из утки, бриошь, ягоды</p>
        <p>10</p>
        <p>600 Р</p>
        <p>6000 Р</p>
      </div>
      <div class="string">
        <p class="first_cell">Антипасти итальянские (томаты подвяленные, артишоки, оливки, перец печенный, чиабата ), подаются на шпажках</p>
        <p>10</p>
        <p>550 Р</p>
        <p>5500 Р</p>
      </div>
      <div class="string" style="background-color:#EEEEEE">
        <p class="first_cell">Салат с куриной грудкой, вялеными томатами, копченным романо и айсбергом и хрустящей гречкой</p>
        <p>45</p>
        <p>300 Р</p>
        <p>13500 Р</p>
      </div>
  </div>
  <div class="bottom_block">
      <p>
        <b>Аренда площадки и ее декор</b> — это два обязательных пункта в смете любой свадьбы. Но мало кто задумывается, насколько они взаимосвязаны. Хорошо, если подготовкой свадьбы занимаются профессионалы, которые подскажут паре, что стоимость декора напрямую зависит от преимуществ выбранной площадки, и посоветуют конкретные локации, идеально подходящие под стилистику вашей свадьбы.
      </p>
  </div>
  <hr>    
  <div class="state_share">
      <div class="share_block">
        <p>Поделиться</p>
        <a href="" style="background: url(/img/state/vk.png)"></a>
        <a href="" style="background: url(/img/state/fb.png)"></a>
        <a href="" style="background: url(/img/state/goo.png)"></a>
        <a href="" style="background: url(/img/state/ok.png)"></a>
        <a href="" style="background: url(/img/state/inst.png)"></a>
      </div>
  </div>
  <div class="other_states">
      <h2>
        Посмотрите другие статьи
      </h2>
      <div>
        {{ this.render('//components/generic/State_block.twig') | raw}}
      </div>
  </div>
</div>