<div data-page-type="error">
	<div class="main_top">
        <h1>Страница не найдена</h1>
        <div class="main_top_desc">
            <a class="_grey_link" href="/">Вернуться на главную</a>
        </div>  
    </div>
</div>