<div class="filter_select">
	<p class="filter_label">{{filter_item.name}}</p>
	<div class="filter_input_block" data-type="{{label}}" data-filter-input-block>
            <input placeholder="от 10 000" name="price"/>
    </div>
</div>