.main_top{
    width: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;

    @include for-notdesc{
        flex-direction: column;
        padding: 0px 15px;
    }

    @include for-pad{
        margin: 0 auto 27px;
    }

    @include for-mobile{
        margin: 32px auto 20px;
    }

    h1{
    	width: 564px;
    	text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        color: black;

        @include for-notdesc{
            text-align: center;
            margin-right: 0px;
            width: 100%;
        }

        @include for-mobile{
            font-size: 36px;
            line-height: 40px;
        }
    }

    .main_top_desc{
    	width: 705px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;

        @include for-notdesc{
            text-align: center;
            width: 100%;
        }

        @include for-mobile{
            margin-top: 10px;
        }

	    p{
		    font-weight: 600;
            font-size: 20px;
            line-height: 30px;

            @include for-mobile{
                font-size: 20px;
                line-height: 29px;
            }
		}
	}
}