.header_form_popup_content{

  .header_form_popup_message_sent{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 606px;
    height: 253px;
    padding: 25px 50px 0;
    background: linear-gradient(112.95deg, #FEDA5A 0.69%, #FFBA35 112.92%);
    box-shadow: 0px 5px 20px rgba(253, 172, 77, 0.3);
    border-radius: 5px;

    .header_form_popup_message{
      padding: 20px 0;
      font-weight: 500;
      line-height: 26px;
    }

    .header_form_popup_message_close{
      cursor: pointer;
    }

    &._hide{
      display: none;
    }
  }

  .form_wrapper.callback{

    .form_title{
      width: auto;
    }

    .form_block{

      .form_inputs{


        .input_wrapper:nth-child(n){
          display: block;
        }

        .input_wrapper:first-child{
          order: 0;
        }

        .input_wrapper:nth-child(2){
          order: 1;
          width: 165px;
          margin-right: 0;
        }
        .input_wrapper:nth-child(2),
        .input_wrapper:nth-child(4),
        .input_wrapper:nth-child(7){
          width: 165px;
        }

        .input_wrapper:nth-child(4){
          order: 5;
        }

        .input_wrapper:nth-child(6){
          position: relative;
          order: 6;
          width: 135px;
          margin-right: 0;

          .open_calendar_button{
            position: absolute;
            top: 26px;
            width: 135px;
            height: 40px;

            &:before{
              content: "";
              cursor: pointer;
              position: absolute;
              top: 11px;
              right: 10px;
              width: 20px;
              height: 20px;
              background: url("/img/calendar_icon.svg");
            }

            &:hover:before{
              top: 12px;
              background: url("/img/calendar_icon_active.svg");
            }
          }

          .open_calendar_button._active{

            &:before{
              background: url("/img/calendar_icon_active.svg");
            }   
          }	
        }

        .input_wrapper{

          .calendar_container{
            top: 78px;
            left: 0;
          }

          &._hide{
            display: none;
          }
        }
      }  
    }

    .form_policy.checkbox_item{
      width: 250px;
    }
  }

  @include for-pad{

    .form_wrapper.callback{

      &:before{
        content: none;
      }

      &:after{
        content: none;
      }

      .form_block{

        .form_inputs{
          height: auto;
  
          .input_wrapper{
    
            .calendar_container{
              left: -150px;
      
              .calendar:before{
                left: 257px;
              }
            }
          }
        }
      }
    }
  }

  @include for-mobile{
    .form_wrapper.callback{
      width: 290px;
      padding: 25px 20px 30px;


      .form_block{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 5px;

        .form_inputs{
          height: auto;

          .input_wrapper{

            .calendar_container{
              top: 66px;
              left: -20px;
            }
          }

          .input_wrapper:nth-child(n){
            width: 100%;

            .open_calendar_button{
              width: 100%;
            }
          }
        }

        .form_submit_callback{

          ._button{
            width: 100%;
            margin: 0;
          }

          .form_policy{
            margin: 10px 0 0 0;
          }
        }
      }
      
    }
  }

  .close_button{
    top: 60px;
  }
}