[data-page-type="post"]{

	padding: 0;
	padding-top: 46px;
	@include for-lowdesc {
		padding-top: 43px;
	}
	@include for-pad {
		padding-top: 41px;
	}
	@include for-mobile {
		padding-top: 72px;
	}
	p{
			font-size: 16px;
			line-height: 21px;
			color: #232323;
	}
	a{
		color: #E7004C;
		border-bottom: 1px solid #E7004C;
		&:hover{
			border-bottom: 0;
		}
	}
	b {
		font-weight: 900;
		color: rgba(35, 35, 35, 1);
	}
	h2{
		font-size: 26px;
		font-weight: 900;
	}
	h3{
		font-size: 20px;
		font-weight: 900;
		@include for-pad{
			font-size: 16px;
			margin-left: 3px;
		}
		@include for-mobile{
			font-size: 16px;
		}
	}
	.state_top_bg{
		display: flex;
	   justify-content: center;
	   align-items: flex-end;		
	   background: url(/img/state/state_top.png) no-repeat;
		background-size: cover;
		width: 100%;
		height: 500px;
		margin-bottom: 72px;
		@include for-lowdesc{
			margin-bottom: 54px;
			height: 498px;
		}
		@include for-pad{
			margin-bottom: 46px;
			height: 498px;
		}
		@include for-mobile{
			margin-bottom: 13px;
			height: 100%;
			padding: 0 15px;
			background: none;
			align-items: baseline;
		}
	}
	.state_top_banner{
		background-color:rgba(255, 255, 255, 0.9);
		width: 1170px;
		padding: 30px;
		@include for-lowdesc{
			width: 930px;
			padding: 31px 30px 21px;
		}
		@include for-pad{
			width: 690px;
			padding: 31px 30px 21px;
		}
		@include for-mobile{
			width: 100%;
			padding: 9px 0px 21px;
		}

		.state_date{
			margin-bottom: 7px;
		   font-size: 10px;
		   line-height: 12px;
		   text-transform: uppercase;
		   color: rgba(35, 35, 35, 0.5);
		}
		.state_title{
			font-size: 30px;
			line-height: 36px;
			color: #232323;
			font-weight: 900;
			margin-bottom: 7px;
			@include for-lowdesc{
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 3px;
			}
			@include for-pad{
				font-size: 22px;
				line-height: 26px;
				margin-bottom: 11px;
			}
			@include for-mobile{
				font-size: 22px;
				line-height: 26px;
				margin-bottom: 11px;
			}
		}
		p{	
			margin-bottom: -4px;
			font-size: 16px;
			line-height: 19px;
			color: #232323;
			@include for-lowdesc{
				width: 855px;
				margin-bottom: 0;
			}
			@include for-pad{
				width: 630px;
				margin-bottom: 0;
				line-height: 20px;
			}
			@include for-mobile{
				width: 100%;
				margin-bottom: 0;
				line-height: 19px;
			}
		}
	}
	.state_topic{
		width: 1170px;
		margin:0 auto 50px;
		@include for-lowdesc{
			width: 930px;			
		}
		@include for-pad{
			width: 690px;			
		}
		@include for-mobile{
			width: 100%;
			padding: 0 15px;
		}
		h2{
			margin-left: 1px;
    		margin-top: 2px;
			margin-bottom: 4px;
			text-align: left;
			@include for-lowdesc{
				margin-bottom: 2px;
			}
			@include for-pad{
				margin-bottom: 7px;
				font-size: 22px;
				line-height: 33px;
			}
			@include for-mobile{
				margin-bottom: 17px;
				font-size: 22px;
				line-height: 24px;
			}
		}
		p{
			margin-left: 3px;
			line-height: 21px;
		}
		img{
			margin: 46px 0 44px;
			@include for-lowdesc{
				width: 930px;
				margin: 48px 0 45px;			
			}
			@include for-pad{
				width: 690px;
				margin: 35px 0 36px;			
			}
			@include for-mobile{
				width: 100%;
				margin: 36px 0 36px;
			}
		}

	}
	.quote{
		margin-bottom: 50px;
		padding: 45px 0;
		background-color: #F6F6F6;
		display: flex;
		@include for-lowdesc{
			margin-bottom: 50px;
			padding: 45px 0;
		}
		@include for-pad{
			margin-bottom: 62px;
			padding: 33px 0 50px;
		}
		@include for-mobile{
			width: 100%;
			padding: 26px 15px 22px;
			margin-bottom: 54px;
		}
		.quote_inner{
		display: flex;
		flex-direction: row;
		margin: auto;
			@include for-lowdesc{
				width: 930px;			
			}
			@include for-pad{
				width: 690px;			
			}
			@include for-mobile{
				width: 100%;
				flex-direction: column;
			}			
		}
		h3{
			width: 230px;
			margin-right: 30px;
			margin-left: -30px;
			line-height: 23px;
			text-align: right;
			@include for-lowdesc{
				width: 210px;
				margin-left: 1px;
				line-height: 24px;
			}
			@include for-pad{
				width: 210px;
				margin-left: 1px;
				line-height: 22px;
				font-size: 18px;
			}
			@include for-mobile{
				width: 49%;
				margin-right: 0;
				margin-left: 8px;
				margin-bottom: 9px;
				line-height: 21px;
				text-align: center;
    			font-size: 18px;
			}
		}
		p{
			line-height: 21px;
			font-family:"museoItalic";
			width: 800px;
			@include for-lowdesc{
				font-size: 16px;
				width: 645px;
			}
			@include for-pad{
				font-size: 16px;
				width: 700px;
			}
			@include for-mobile{
				margin-left: 20px;
				font-size: 16px;
				width: 86%;
			}
		}
	}
	.state_gallery{
		width: 1170px;
	   margin: 0 auto 50px;
	   justify-content: space-between;
	   display: flex;
	   @include for-lowdesc{
			width: 930px;			
		}
		@include for-pad{
			width: 690px;	
			margin-bottom: 52px;		
		}
		@include for-mobile{
			width: 100%;
			padding: 0 15px;
			flex-direction: column;
			margin-bottom: 19px;
		}
		img{
			width: 570px;
			@include for-lowdesc{
				width: 450px;			
			}
			@include for-pad{
				width: 330px;			
			}
			@include for-mobile{
				width: 100%;
				margin-bottom: 19px;
			} 
		}
	}
	.ol_block{
		width: 1170px;
		margin: 0 auto 44px;
		@include for-lowdesc{
			width: 930px;
			margin-bottom: 21px;			
		}
		@include for-pad{
			width: 690px;
			margin-bottom: 34px;			
		}
		@include for-mobile{
			width: 100%;
			padding: 0 15px;
			margin-bottom: 32px;
		}
		h3{
			margin-bottom: 12px;
			@include for-pad{
				margin-bottom: 16px;
			}
			@include for-mobile{
				margin-bottom: 18px;
			}
		}
		ol{
			width: 1170px;
			padding-left: 48px;
			@include for-lowdesc{
				width: 930px;			
			}
			@include for-pad{
				width: 690px;
				padding-left: 51px;			
			}
			@include for-mobile{
				width: 100%;
				padding-left: 30px;
			}
		}
		li{
			line-height: 23px;
			margin-bottom: 18px;
			padding-left: 7px;
			@include for-pad{
				margin-bottom:  19px;
				line-height: 22px;
			}
			@include for-mobile{
				margin-bottom: 22px;
				line-height: 21px;
			}
		}
		li::marker{
			font-weight: 900;
			font-size: 16px;
			line-height: 21px;
			color: #E7004C;
		}
	}	
	.ul_block{
		width: 1170px;
		margin: 0 auto 57px;
		@include for-lowdesc{
			width: 930px;
			margin-bottom: 45px;			
		}
		@include for-pad{
			width: 690px;
			margin-bottom: 44px;			
		}
		@include for-mobile{
			width: 100%;
			padding: 0 15px;
			margin: 0 auto 40px;
		}
		h3{
			margin-bottom: 13px;
			@include for-pad{
				margin-bottom: 16px;
			}
		}
		ul{
			width: 1170px;
			padding-left: 50px;
			@include for-lowdesc{
				width: 930px;			
			}
			@include for-pad{
				width: 690px;
				padding-left: 53px;			
			}
			@include for-mobile{
				width: 100%;
				padding-left: 30px;
			}
		}
		li{
			line-height: 23px;
			margin-bottom: 18px;
			padding-left: 5px;
			@include for-lowdesc{
				margin-bottom: 16px;
			}
			@include for-pad{
				margin-bottom: 22px;
				line-height: 21px;
			}
			@include for-mobile{
				margin-bottom: 21px;
				line-height: 21px;

			}
		}		
		li::marker{
			font-weight: 900;
			font-size: 18px;
			line-height: 21px;
			color: #E7004C;
		}
	}
	.state_tab{
		display: flex;
		flex-direction:column;
		width: 1170px;
		margin: 0 auto 57px;
		@include for-lowdesc{
			width: 930px;
			margin-bottom: 45px;			
		}
		@include for-pad{
			width: 690px;
			margin-bottom: 41px;				
		}
		@include for-mobile{
			width: 100%;
			padding: 0 15px;
			overflow: scroll;
		}
		.upper_string{
			display: flex;
			flex-direction:row;
			@include for-mobile{
				width: 690px;
			}
			p{
				width: 200px;
				padding: 0 0 11px 30px;
				@include for-pad{
					width: 169px;
					padding-left: 27px;
				}
				@include for-mobile{
					font-size: 14px;
					padding-left: 10px;
					width: 104px;
					padding-bottom: 8px;
				}
			}
			p.first_cell{
				padding: 0 0 11px 30px;
				width: 571px;
				@include for-lowdesc{
					padding-left: 32px;
				}
				@include for-pad{
					width: 514px;
				}
				@include for-mobile{
					width: 192px;
					padding-left: 19px;
					padding-bottom: 8px;
					font-size: 14px;
				}
			}
		}
		hr{
			border: 1px solid #C4C4C4;
			@include for-lowdesc{
				width:960px;
			}
			@include for-pad{
				width: 690px;
			}
			@include for-mobile{
				width: 690px;
				display: block;
			}
		}
		.string{
			display: flex;
			flex-direction:row;
			@include for-mobile{
				width: 690px;
				overflow: hidden;
			}
			p{
				width: 200px;
				padding: 30px 0 0px 30px;
				@include for-lowdesc{
					padding-left: 32px;
				}
				@include for-mobile{
					width: 105px;
					padding: 20px 0 0 26px;
					font-size: 14px;
				}
			}
			p.first_cell{
				padding: 30px 0 27px 30px;
				width: 571px;
				@include for-lowdesc{
					padding: 26px 0 26px 30px;
				}
				@include for-pad{
					padding: 30px 0 30px 30px;
					width: 612px;
					line-height: 19px;
				}
				@include for-mobile{
					line-height: 14px;
					font-size: 14px;
					width: 175px;
					padding: 19px 0 19px 19px;
				}
			}
		}
	}
	.bottom_block{
		width: 1170px;
		margin: 0 auto 33px;
		@include for-lowdesc{
			width: 930px;
			margin-bottom: 25px;
						
		}
		@include for-pad{
			width: 690px;
			margin-bottom: 24px;			
		}
		@include for-mobile{
			display: none;
		}
		p{
			@include for-lowdesc{
				line-height: 21px;
			}
			@include for-pad{
				line-height: 21px;
			}
		}
	}
	hr{
		width: 1170px;
		margin: 0 auto;
		border: 1px dashed #C4C4C4;
		@include for-lowdesc{
			width: 930px;			
		}
		@include for-pad{
			width: 690px;			
		}
		@include for-mobile{
			display: none;
		}
	}
	.state_share{
		display: flex;
		width: 1170px;
		margin: 0 auto 52px;
		justify-content:flex-end;
		@include for-lowdesc{
			width: 930px;			
		}
		@include for-pad{
			width: 690px;			
		}
		@include for-mobile{
			display: none;
		}
		.share_block{
			display: flex;
			flex-direction: row;
			margin-top: 14px;
			margin-right: 1px;
			p{
				font-size: 14px;
				line-height: 18px;
				color: #4F4F4F;
				margin-right: 8px;
				margin-top: 5px;
			}
			a{
				width: 22px;
				height: 22px;
				background-color: lightblue;
				margin-left: 9px;
			}
		}
		
	}
	.other_states{
		h2{
				@include for-lowdesc{
					display: none;
				}
				@include for-pad{
					display: none;
				}
				@include for-mobile{
					display: none;
				}
		}	
	}
}